<!DOCTYPE html>
<html ng-app="entityman">
<head>
  <meta charset="utf-8">
  <title>entityman</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico">
</head>
<body>
  <div class="container">
    <h1 class="page-header"><a href='#/'>EntityMan Demo</a></h1>
    <div ng-view></div>
  </div>

  <script type="text/ng-template" id="index.html">
    <div class="row">
      <div class="col-md-6">
        <h3>Entities</h3>
        <table class="table table-striped">
          <tr>
            <th>Type</th>
            <th>Name</th>
          </tr>
          <tr ng-repeat="entity in getEntities()">
            <td>{{entity.type}}</td>
            <td>{{entity.label}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h3>
          Files
        </h3>
        <table class="table table-striped">
          <tr>
            <th>Filename</th>
          </tr>
          <tr ng-repeat="file in files">
            <td>{{file.file || 'Unnamed file'}}</td>
          </tr>
        </table>
        <form>
          <div class="form-group">
            <span ng-hide="uploadMessage">
              <div class="input-group" ngf-select ngf-change="setFile($files, $event)">
                <input type="text" class="form-control" ng-model="file.name" readonly>
                <span class="input-group-btn">
                  <span class="btn btn-default">
                    Browse
                  </span>
                </span>
              </div>
              <p class="help-block">
                Upload a file from your computer.
              </p>
              <button ng-click="upload()" class="btn btn-default" ng-disabled="!file.name">Upload</button>
            </span>
            <div ng-show="uploadMessage">
              <i class="fa fa-spinner fa-pulse"></i>
              {{uploadMessage}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/5.0.9/ng-file-upload-all.min.js'></script>
  <script src='app.js'></script>
</body>
</html>
